


.test > p > span[id='ad'] {
    background-color: yellow;
}


.test > div {
    background-color: red;
}

.test > div:nth-child(1) div {
    background-color: blue;

}

.test div:nth-child(4):hover {
    background-color: red;
}


.card222 > div[data-testid='test'] {
    background-color: red;
}
/* tekler ve çiftleri seç */

/* .test div:nth-child(odd) {
    background-color: red;
}

.test div:nth-child(even) {
    background-color: blue;
} */
